.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-center {
  flex-grow: 1;
  text-align: center;
}

.nav-center h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.nav-right a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-right a:hover {
  text-decoration: underline;
}


